/*
Global
*/ 
.heading-site{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.COLORED{
	height:400px;
	width:100%;
	background-color: #3498db;
	padding: 30px;
	text-align: center;
}
/*
HEADER
*/
.header{
	top:0;
	width: 100%
	margin-left:0;
	margin-right:0;
	height:50px;
	line-height: 50px;
	background-color:#000000;
	z-index: 999;
}

.header .header-logo{
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left:30px;
}
.header .header-menu{
	float:right;v
	margin-right: 30px;
}

.header .header-menu a{
	margin-right: 15px;
	color: #ffffff;
}

.header .header-menu a:hover{
	color:#3498db;
}
/*
BANNER
*/
.banner{
	margin-top: -25px;
	}
.banner .banner-image{
	width: 100%;
	height:400px;
	position:relative;
	top:0;
	left:0;
	margin-bottom: 10px;

}
.banner .banner-content{
	position:absolute;
	width:100%;
	text-align:center;
	top:25%;
}

.banner .banner-content h1 {
	color:#ffffff;
}
.banner .banner-content h2 {
	color:#ffffff;
}
.banner .banner-content button{
	margin-top: 50px;
}
/* 
ABOUT
*/
.about .about-single-element i{
	font-size: 30px;
	text-align: center;
}
.about .about-single-element h5{
	text-align: center;
}
.about .about-single-element{
	text-align: center;
}
.about .about-single-element p{
	text-align:left;
	margin-top: 20px;
}
/*
Portfolio
*/
.autolib{
	background-image: url("public/image/autolib.png");
}

#images-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display:flex;
	-ms-flex-wrap: wrap;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.portfolio-image{
	margin-bottom:40px;
	border-radius: 2px;
	position: relative;
}
.portfolio-image, .portfolio-image-size{
	width:300px;
	height:200px;
}
.description-projet{
	visibility: hidden;
	color: #ffffff;
	width:280px;
	position:absolute;
	bottom:0;
	background: rgba(0,0,0,0.5);
	padding:15px 10px;
}
.description-projet a{
	color:#ffffff;
	text-decoration: none;
	font-weight: 700;
}
.description-projet a:hover{
	text-decoration: underline;
}
.texte-description-projet{
	margin-top: 10px;
	margin-bottom: 0;
}
.portfolio-image:hover > .description-projet{
	visibility:visible;
}
.blue-circle{
	position: absolute;
	height: 40px;
	width: 40px;
	right: 20px;
	top: -20px;
	background-color: #5cadd3;
	border-radius: 50%
	border: 2px solid #ffffff;
}
.icon_eye_settings{
	display:block;
	margin:0;
	line-height: 40px;
	text-align: center;
}

/*
Footer
*/

.footer .footer-information {
	margin-top: 20px;
	text-align: center;
}

.footer .footer-information ul{
	padding:0;
}

.footer .footer-information ul li{
	display: inline-block;
	list-style-type: none;
}
.footer .footer-information i{
	font-size: 40px;
	margin:20px;
}
/*.footer #insta {
	color:pink;
}
.footer #github {
	color:black;
}*/
.fa-linkedin {
  background: white;
  color: #007bb5;
 }
.fa-github {
    background: white;
    color: black;
}
.fa-instagram {
	font-size: 80px;
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}